.InfoWrapper{ 
    background-color: rgb(41, 40, 40);  
    max-width: 1200px;
}

.InfoTitle{
    color: azure;
}

.InfoText{
    font-size: 14px;
    color: azure;
    font-weight: 200;
    line-height: 50px;
    text-decoration: none;
}
