.searchBarWrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(41, 40, 40);
    max-width: 1200px;
    padding: 25px 65px;
}

.inputBorder{
    width: 100%;
    border: 5px solid rgb(109, 65, 109);
    border-radius: 30px;
    padding: 15px;
    outline: none;
    font-size: 40px;
    color: rgb(109, 65, 109);
}
